html body {
  height: 100vh;
  background: 
  /* image overlay */ 
  linear-gradient(
    rgba(50, 50, 50, 0.61), 
    rgba(50, 50, 50, 0.61)
  ),
  /* bottom, image */
  url("../images/tennis.jpg");
  background-size: cover;
}