html body {
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 

  background: 
  /* image overlay */ 
  linear-gradient(
    rgba(50, 50, 50, 0.61), 
    rgba(50, 50, 50, 0.61)
  ),
  /* bottom, image */
  url("../images/tennis.jpg");
  background-size: cover;



}

