.controls {
	border: 1px solid #afafaf;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 1px 1px #afafaf;
	border: none;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	background-color: #498c92;

	button {
		margin: 5px;
	}
}
