.footer {

	/* Positioning */
	width: 100%;
	position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 3px;
	padding-top: 11px;

    /* Display */
	background-color: #425d7c;
	color: #f2f2f2;

}